*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   width: 100vw;
   height: 100vh;
   display: flex;
   background-image: url('https://wallpapercave.com/wp/wc1764903.png');
}
/* Central container */
#calendar{
   width: 1000px;
   height: 800px;
   margin: auto;
}
/* TOP-BAR */
#calendar #top-bar{
   height: 80px;
   line-height: 40px;
   color: white;
}
#top-bar #navigate-bar{
   display: flex;
   align-items: center;
}
#top-bar #navigate-bar *{
   float: left;
   width: calc(100% / 3);
}
#top-bar #navigate-bar::after{
   content: '';
   display: table;
   clear: both;
}
#top-bar #navigate-bar .changeMonth{
   font-size: 22px;
}
#top-bar #navigate-bar #country-name{
   text-align: center;
   font-size: 30px;
}
#top-bar #navigate-bar .changeMonth.back{
   padding-left: 20px;
}
#top-bar  #navigate-bar .changeMonth.forward{
   padding-right: 20px;
   display: flex;
   justify-content: flex-end;
}
.fa-chevron-right{
   text-align: right;
   cursor: pointer;
   font-size: 30px;
}
.fa-chevron-left{
   text-align: left;
   cursor: pointer;
   font-size: 30px;
}
#top-bar .month-year{
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   color: white;
}
/* SELECT BAR */
#select-bar{
   text-align: center;
   height: 45px;
   line-height: 45px;
   margin-bottom: 10px;
}
#select-bar #country-select{
   height: 35px;
   outline: none;
   border-radius: 50px;
   border-style: none;
   padding: 5px 15px;
}
#select-bar #country-select select{
   border: none;
   appearance: none;
}
#select-bar #searchBtn{
   height: 35px;
   border-style: none;
   outline: none;
   border-radius: 50px;
   padding: 5px 15px;
   margin-left: 10px;
   transition: all 0.5s ease;
}
#select-bar #searchBtn:hover{
   color: white;
   background-color: black;
}
/* BAR WEEK */
#bar-week{
   display: flex;
   color: white;
}
#bar-week .day-name{
   width: calc(100% / 7);
   min-width: 100px;
   height:20px;
   font-size: 18px;
}
/* LIST OF DAYS */
#calendar #list-days{
   height: calc(100% - 155px);
   width: 100%;
}
#list-days .day-element.color-red{
   color: #d90404;
   font-family: helvetica;
}
#list-days .day-element .number_month{
   font-size: 22px;
   font-weight: bold;
}
#list-days .day-element .holiday_name{
   position: absolute;
   bottom: 0;
   font-weight: bold;
}
#list-days .day-element{
   position: relative;
   float: left;
   width: calc(100% / 7);
   height: calc(100%  / 6);
   border: 1px solid lightgrey;
   background-color: rgba(204, 224, 223, 0.7);
}
